### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\future\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\future\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\future\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\future\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\future\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sniffio in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\future\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\future\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\future\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\future\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time

In [4]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe') #connecting to webdriver
time.sleep(2)

# Opening Wikipedia webpage
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

C:\Users\Future\AppData\Local\Temp\ipykernel_33412\3977769751.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe') #connecting to webdriver

In [11]:
from selenium.webdriver.common.by import By

In [12]:
# Empty list for scraping data
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [13]:
# Extracting Rank Via X path
try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')
    
# Extracting Name Via X path
try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementExceptionhElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')
    
# Extracting Artist Name Via Xpath
try:
    artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')

# Extracting Upload date Via Xpath
try:
    upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA') 

# Extracting Views via Xpath
try:
    views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [14]:
# Dataframe for scrap data
Wiki_YT=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
Wiki_YT

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.73,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.14,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.69,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon â€“ Nursery Rhymes,6.15,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.97,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.86,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.26,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon â€“ Nursery Rhymes,5.14,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.89,"November 19, 2014"
9,10.,"""Learning Colors â€“ Colorful Eggs on a Farm""[26]",Miroshka TV,4.87,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.77,"July 15, 2012"
11,12.,"""Masha and the Bear â€“ Recipe for Disaster""[32]",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.32,"April 5, 2018"
13,14.,"""Axel F""[34]",Crazy Frog,3.87,"June 16, 2009"
14,15.,"""Sugar""[35]",Maroon 5,3.86,"January 14, 2015"
15,16.,"""Roar""[36]",Katy Perry,3.78,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.77,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.65,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon â€“ Nursery Rhymes,3.61,"June 25, 2018"
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,3.58,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.56,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.50,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.44,"December 3, 2015"
23,24.,"""Perfect""[44]",Ed Sheeran,3.42,"November 9, 2017"
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.42,"June 14, 2018"
25,26.,"""Let Her Go""[46]",Passenger,3.42,"July 25, 2012"
26,27.,"""Girls Like You""[47]",Maroon 5,3.40,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi â€“ Nursery Rhymes & Kids Songs,3.38,"January 26, 2018"
28,29.,"""Lean On""[49]",Major Lazer,3.37,"March 22, 2015"
29,30.,"""Bailando""[50]",Enrique Iglesias,3.37,"April 11, 2014"

####

### 2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:A) Match title (I.e. 1st ODI),B) Series,C) Place,D) Date,E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [24]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.webdriver.common.by import By
import time

In [25]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')
time.sleep(2)

# Opening Wikipedia webpage
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(2)

C:\Users\Future\AppData\Local\Temp\ipykernel_40196\3717562579.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')

In [26]:
# Opening fixtures webpage through browser
fixture=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
try:
    fixture.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [27]:
# Creating empty list
Title = []
Series = []
Place = []
Date = []
Time = []

In [28]:
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    
    # Scraping Match title
    try:
        title=driver.find_element(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
        Title.append(title.text)
    except NoSuchElementException:
        Title.append('NA')
        
    # Scraping Series Via Xpath
    try:
        series=driver.find_element(By.XPATH,'//div[@class="small-seprator"]')
        Series.append(series.text)
    except NoSuchElementException:
        Series.append('NA')
        
    # Scraping venue Via Xpath
    try:
        place=driver.find_element(By.XPATH,'//div[@class="match-place ng-scope"]')
        Place.append(place.text)
    except NoSuchElementException:
        Place.append('NA')
        
    # Scraping date Via Xpath
    try:
        date=driver.find_element(By.XPATH,'//div[@class="match-dates ng-binding"]')
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('NA')
        
    # Scraping Time Via Xpath
    try:
        time=driver.find_element(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
        Time.append(time.text)
    except NoSuchElementException:
        Time.append('NA')

0it [00:00, ?it/s]

In [29]:
# Dataframe for scrap data
Cricket=pd.DataFrame({'Match Title':Title,'Tournament':Series,'Venue':Place,'Date':Date,'Time':Time})
print('\033[1m'+'Team Indiaâ€™s Upcoming International fixtures :'+'\033[0m')
Cricket

Team Indiaâ€™s Upcoming International fixtures :

Empty DataFrame
Columns: [Match Title, Tournament, Venue, Date, Time]
Index: []

## 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [6]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [7]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.statisticstimes.com/'
driver.get(url)
time.sleep(1)

C:\Users\Future\AppData\Local\Temp\ipykernel_17604\1251977572.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')

In [8]:
# Creating Empty lists
Rank =[]
State =[]
GDSP_19_20=[]
GDSP_18_19 =[]
Share =[]
GDP =[]

In [10]:
# Clicking on India under ecomony section
India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    
time.sleep(2)

# Clicking Indian State GDP
state = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [11]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
    
# Extracting state name via Xpath
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
    
# Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')
    
# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')
    
# Extracting share in billons via Xpath
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

# Extracting GDP via Xpath
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [12]:
# Dataframe for scrap data
Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')
Statewise_GDP

State-wise GDP of India :

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

## 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [14]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

C:\Users\Future\AppData\Local\Temp\ipykernel_17604\3151841900.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')

In [34]:
# Clicking on trending option
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [41]:
# Creating Empty list for Scraping Data
Title=[]
Description=[]
Count =[]
Language =[]

In [42]:
# Scraping repositories URL
URL= []
link=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [43]:
len(URL)

25

In [44]:
# Scraping Repositority Title
try:
    title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')

In [45]:
len(Title)

25

In [46]:
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    time.sleep(5)
    # Scraping Description
    try:
        description=driver.find_element(By.XPATH,'/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[1]/div/p')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('NA')
    
    # Scraping Contributor count
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Count.append(count.text)
    except NoSuchElementException:
        Count.append('NA')
    
    # Scraping Language
    L =[]
    try:
        lang=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if lang:
            for j in lang:
                L.append(j.text)
        else:
            L.append('NA')
        Language.append(L)
    except NoSuchElementException:
        Language.append('NA')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 25/25 [04:18<00:00, 10.34s/it]

In [47]:
Github=pd.DataFrame({'Title':Title,'Description':Description,
                'Contributors_count':Count,'Language_used':Language})
print('\033[1m'+'GitHub Trending Repository :'+'\033[0m')
Github

GitHub Trending Repository :

,Title,Description,Contributors_count,Language_used
0,xtekky / gpt4free,NA,23,"[Python, Dockerfile]"
1,mitsuhiko / rye,NA,13,"[Rust, NASL, Python, Makefile]"
2,sindresorhus / awesome,NA,556,[NA]
3,Josh-XT / Agent-LLM,NA,11,"[Python, JavaScript, Jupyter Notebook, CSS, Do..."
4,whoiskatrin / chart-gpt,NA,11,"[TypeScript, CSS, JavaScript]"
5,Snaacky / dndserver,NA,8,[Python]
6,lvwzhen / law-cn-ai,NA,2,"[TypeScript, CSS, PLpgSQL, JavaScript]"
7,GreyDGL / PentestGPT,NA,3,"[Python, HTML]"
8,BigBrotherTrade / trader,NA,NA,[Python]
9,Dogtiti / AutoGPT-Next-Web,NA,6,"[TypeScript, JavaScript, Shell, CSS, Dockerfile]"
10,Developer-Y / cs-video-courses,NA,87,[NA]
11,roboflow / notebooks,NA,9,[Jupyter Notebook]
12,gmpetrov / databerry,NA,3,"[TypeScript, JavaScript, CSS]"
13,GitSquared / edex-ui,NA,60,"[JavaScript, CSS, HTML]"
14,suno-ai / bark,NA,7,"[Python, Jupyter Notebook]"
15,xtekky / chatgpt-clone,NA,12,"[Python, JavaScript, CSS, HTML, Dockerfile]"
16,l15y / wenda,NA,11,"[CSS, Python, JavaScript, HTML]"
17,Eugeny / tabby,NA,107,"[TypeScript, Pug, SCSS, JavaScript, C++, Batch..."
18,isaiahbjork / Auto-GPT-MetaTrader-Plugin,NA,2,"[Python, Batchfile, Shell, Makefile]"
19,bullet-train-co / bullet_train,NA,38,"[Ruby, JavaScript, Shell, HTML]"
20,modal-labs / quillman,NA,2,"[JavaScript, Python, CSS, HTML]"
21,bethylamine / twitter-archives,NA,3,[NA]
22,BloopAI / bloop,NA,15,"[TypeScript, Rust, CSS, Scheme, JavaScript, Nix]"
23,zhayujie / chatgpt-on-wechat,NA,24,"[Python, Shell]"
24,farizrahman4u / loopgpt,NA,8,[Python]

## 5. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [48]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [49]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.billboard.com/'
driver.get(url)
time.sleep(1)

C:\Users\Future\AppData\Local\Temp\ipykernel_17604\1843983786.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')

In [50]:
# Creating Empty List
Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]

In [57]:
# Clicking on hot 100 option
hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)

In [64]:
full_list=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
full_list.click()

In [65]:
# Scraping Song Name
try:
    song=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3[1]')
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
    Song.append('NA')
    
# Scraping Song Artist Name
try:
    artist=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('NA')
    
# Scraping Song last week rank
try:
    last_rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"][1]')
    for i in last_rank:
        Last_Week_rank.append(i.text)
except NoSuchElementException:
    Last_Week_rank.append('NA')

# Scraping Song peak rank
try:
    peak=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"][2]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('NA')

# Scraping Weeks on Chart
try:
    weeks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"][2]')
    for i in weeks:
        Weeks.append(i.text)
except NoSuchElementException:
    Weeks.append('NA')

In [66]:
Billboard=pd.DataFrame({'Song_Name':Song,
                'Artist_Name':Artist,
                'Last_week_rank':Last_Week_rank,
                'Peak':Peak_rank,
                'Weeks_on_chart':Weeks})
print('\033[1m'+'Billboard Hot 100 Songs :'+'\033[0m')
Billboard

Billboard Hot 100 Songs :

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,Kill Bill,SZA,4,1,19
1,Last Night,Morgan Wallen,1,1,12
2,Flowers,Miley Cyrus,3,1,14
3,Princess Diana,Ice Spice & Nicki Minaj,-,4,1
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,10,5,5
...,...,...,...,...,...
95,Memory Lane,Old Dominion,96,96,3
96,Love Again,The Kid LAROI,88,40,12
97,'98 Braves,Morgan Wallen,100,27,7
98,Di Que Si,Grupo Marca Registrada X Grupo Frontera,-,99,1
99,It Matters To Her,Scotty McCreery,-,100,1

## 6. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [67]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [68]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

C:\Users\Future\AppData\Local\Temp\ipykernel_17604\1420565522.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')

In [69]:
# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [71]:
# Scraping Book name
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    
# Scraping Book author's via Xpath
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold via Xpath
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher via xPath
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [72]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [73]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [74]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

C:\Users\Future\AppData\Local\Temp\ipykernel_17604\548844808.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')

In [75]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [76]:
# Scraping Name via Xpath
try:
    name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span via Xpath
try:
    year=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes via Xpath
try:
    votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [77]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})
print('\033[1m'+'Top 100 most watched tv shows of all time IMDB :'+'\033[0m')
IMDB_TV

Top 100 most watched tv shows of all time IMDB :

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.2,"2,153,798"
1,Stranger Things,(2016â€“2024),"Drama, Fantasy, Horror",51 min,8.7,"1,235,778"
2,The Walking Dead,(2010â€“2022),"Drama, Horror, Thriller",44 min,8.1,"1,023,128"
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5,"301,079"
4,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"260,014"
...,...,...,...,...,...,...
95,Reign,(2013â€“2017),Drama,42 min,7.4,"51,400"
96,A Series of Unfortunate Events,(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,"63,440"
97,Criminal Minds,(2005â€“ ),"Crime, Drama, Mystery",42 min,8.1,"206,853"
98,Scream: The TV Series,(2015â€“2019),"Comedy, Crime, Drama",45 min,7,"42,942"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"256,501"

## 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [78]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [79]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

C:\Users\Future\AppData\Local\Temp\ipykernel_17604\1337377682.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')

In [80]:
# Clicking on all datasets links
dataset=driver.find_element(By.XPATH,"//a[@href='datasets.php']")
dataset.click()
time.sleep(1)

In [81]:
# Creating empty lists
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [82]:
# Scraping DataSet Name via Xpath
from tqdm import tqdm
try:
    dataset=driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in tqdm(dataset):
        Dataset.append(i.text)
        time.sleep(0.15)
except NoSuchElementException:
    Dataset.append('NA')
    
# Scraping Data Type via Xpath
try:
    Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in Type[1:]:
        Data_Type.append(i.text)
except NoSuchElementException:
    Data_Type.append('NA')
    
# Scraping Task via Xpath
try:
    task=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')
    
# Scraping Attribute_Type via Xpath
try:
    attribute_Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_Type[1:]:
        Attribute_Type.append(i.text)
except NoSuchElementException:
    Attribute_Type.append('NA')
    
# Scraping No_of_Instances via Xpath
try:
    no_of_Instances=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_Instances[1:]:
        No_of_Instances.append(i.text)
except NoSuchElementException:
    No_of_Instances.append('NA')

# Scraping No_of_Attribute via Xpath
try:
    no_of_Attribute=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attribute[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')
    
# Scraping Year via Xpath
try:
    year=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 622/622 [02:27<00:00,  4.21it/s]

In [83]:
len(Dataset),len(Data_Type),len(Task),len(Attribute_Type),len(No_of_Instances),len(Year)

(622, 622, 622, 622, 622, 622)

In [84]:
# Creating Data Frame for UCI Dataset
UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset,
                'Data Type':Data_Type,
                'Task':Task,
                'Attribute Type':Attribute_Type,
                'No of Instances':No_of_Instances,
                'No of Attribute':No_of_Attribute,
                'Year':Year})
print('\033[1m'+' UCI Machine Learning Dataset:'+'\033[0m')
UCI_Dataset

 UCI Machine Learning Dataset:

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

## 9. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [3]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)
time.sleep(1)

C:\Users\Future\AppData\Local\Temp\ipykernel_40196\358737887.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe')

In [5]:
from selenium.webdriver.common.by import By

In [6]:
# locating Search bar via Xpath
Search=driver.find_element(By.XPATH,"//input[@class='sugInp']")

# Sending data science as key in search bar
Search.send_keys("Data Science")
time.sleep(1)

#clicking on search button
button=driver.find_element(By.XPATH,"//button[@id='qsbFormBtn']")
button.click()
time.sleep(1)

In [7]:
# Creating Empty List
Name =[]
Designation =[]
Company =[]
Skill =[]
Location =[]

In [8]:
# Scraping  Name
try:
    name=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]/span')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
        Name.append('NA')

    # Scraping Designation
try:
    designation=driver.find_elements(By.XPATH,'//p[@class="highlightable"]/span[1]')
    for i in designation:
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('NA')
    
# Scraping Company
try:
    company=driver.find_elements(By.XPATH,'//a[@class="ellipsis"][2]')
    for i in company:
        Company.append(i.text)
except NoSuchElementException:
    Company.append('NA')
# Scraping skill for they hire
try:
    skill=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skill:
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('NA')
    
# Scraping Song Artist Name
try:
    location=driver.find_elements(By.XPATH,'//p[@class="highlightable"]/span[2]/small')
    if location:
        for i in location:
            Location.append(i.text)
    else:
        Location.append('NA')
except NoSuchElementException:
    Location.append('NA')

In [9]:
len(Name),len(Designation),len(Company),len(Skill),len(Location)

(50, 50, 50, 50, 49)

In [10]:
Naukri=pd.DataFrame({})
Naukri['Name']=Name[:49]
Naukri['Designation']=Designation[:49]
Naukri['Company']=Company[:49]
Naukri['Skills I Hire for']=Skill[:49]
Naukri['Location']=Location[:49]
print('\033[1m'+'Naukri.com Data Science recruiters :'+'\033[0m')
Naukri

Naukri.com Data Science recruiters :

,Name,Designation,Company,Skills I Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai