## Q1. Python program to scrape data for “Data Analyst” Job position in “Bangalore” location

In [108]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\future\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\future\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\future\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\future\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\future\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: sniffio in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\future\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\future\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\future\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\future\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\future\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [109]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [110]:
driver=webdriver.Chrome(r"C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe")

In [111]:
#Opening the given website on automated chrome browser
driver.get("https://www.naukri.com/")

In [112]:
#Entering designation as required
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [113]:
#Entering location as required
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [114]:
#For clicking search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [115]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [116]:
#Scraping JOB TITLE from the page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [117]:
#Scraping JOB LOCATION from the page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [118]:
#Scraping Company Name from the page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [119]:
#Scraping JOB EXPERIENCE from the page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [120]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [121]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst,Bangalore/Bengaluru,Cynosure Corporate Solutions,2-7 Yrs
1,Data Analyst III,Bangalore/Bengaluru,Walmart,3-7 Yrs
2,Data Analyst III,Bangalore/Bengaluru,Walmart,3-7 Yrs
3,Compliance Rule Writer/Data Analyst,Bangalore/Bengaluru,Paypal,5-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
5,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
6,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
7,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
8,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
9,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs

#

## Q2. Python program to scrape data for “Data Scientist” Job position in  “Bangalore” location

In [122]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [123]:
driver=webdriver.Chrome(r"C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe")

In [124]:
#Opening the given website on automated chrome browser
driver.get("https://www.naukri.com/")

In [125]:
#Entering designation as required
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [126]:
#Entering location as required
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [127]:
#For clicking search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [128]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [129]:
#Scraping JOB TITLE from the page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [130]:
#Scraping JOB LOCATION from the page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [131]:
#Scraping Company Name from the page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [132]:
#Scraping JOB EXPERIENCE from the page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [133]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [134]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies,5-8 Yrs
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,4-8 Yrs
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,5-11 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,3-7 Yrs
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
7,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,7-9 Yrs
8,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Kochi/Cochin,...",Cognizant,6-10 Yrs
9,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,10-12 Yrs

#

## Q3. Python Program to Scrape Loacation and Salary Filter

In [135]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [136]:
driver=webdriver.Chrome(r"C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe")

In [137]:
#Opening the given website on automated chrome browser
driver.get("https://www.naukri.com/")

In [138]:
#Entering designation as required
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [139]:
#Entering location as required
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [140]:
#For clicking search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [142]:
    #Filtering salary
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [143]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [144]:
#Scraping JOB TITLE from the page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [145]:
#Scraping JOB LOCATION from the page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [146]:
#Scraping Company Name from the page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [147]:
#Scraping JOB EXPERIENCE from the page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [148]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [149]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
2,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software,3-6 Yrs
3,Machine Learning Engineer,Chennai,Cubicle Compass - Pointing You To Success,0-5 Yrs
4,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
5,Senior Data Scientist,Bangalore/Bengaluru,Truecaller,2-5 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
7,Data Scientist,Bangalore/Bengaluru,Capgemini,3-5 Yrs
8,Data Scientist,"Hubli, Mangaluru/Mangalore, Mysore/Mysuru, Ban...",Alp Consulting,3-7 Yrs
9,MACHINE LEARNING / DATA SCIENCE TRAINER,Bangalore/Bengaluru,Ethnotech Academy,2-5 Yrs

#

## Q4. Data of first 100 sunglasses listings on flipkart.com

In [150]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [151]:
driver=webdriver.Chrome(r"C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe")

In [152]:
#Opening the given website on automated chrome browser
driver.get("http://www.flipkart.com/")

In [153]:
#Removing CROSS sign
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [154]:
#Entering product name as required
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sunglasses')

In [155]:
#Clicking SEARCH button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [161]:
brand=[]
product_description=[]
price=[]

In [162]:
#Scraping Brand from the page
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    BD=i.text
    brand.append(BD)

In [163]:
#Scraping product description from the page
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    PD=i.text   
    product_description.append(PD)

In [164]:
#Scraping Price from the page
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [165]:
print(len(brand),len(product_description),len(price))

40 40 40

In [166]:
df=pd.DataFrame({'Brand':brand,'Product Description':product_description,'Price':price}) #Dataframe of first page
df

,Brand,Product Description,Price
0,Elligator,UV Protection Round Sunglasses (54),₹245
1,Singco India,"UV Protection, Riding Glasses Retro Square, Re...",₹479
2,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149
3,SRPM,UV Protection Wayfarer Sunglasses (50),₹149
4,Elligator,UV Protection Wayfarer Sunglasses (53),₹149
5,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹268
6,Elligator,"UV Protection Aviator, Wayfarer Sunglasses (54)",₹149
7,Dervin,UV Protection Wayfarer Sunglasses (Free Size),₹216
8,PIRASO,UV Protection Clubmaster Sunglasses (54),₹224
9,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹489
10,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264
11,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹400
12,PIRASO,UV Protection Aviator Sunglasses (58),₹274
13,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹185
14,Elligator,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹179
15,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹435
16,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹619
17,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹489
18,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹549
19,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹393
20,NuVew,UV Protection Sports Sunglasses (65),₹129
21,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹619
22,Elligator,UV Protection Round Sunglasses (53),₹149
23,Resist,Polarized Wayfarer Sunglasses (Free Size),"₹1,399"
24,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹549
25,SRPM,UV Protection Wayfarer Sunglasses (50),₹169
26,PIRASO,UV Protection Wayfarer Sunglasses (56),₹211
27,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹267
28,NuVew,"UV Protection, Mirrored Wayfarer Sunglasses (57)",₹99
29,PIRASO,UV Protection Over-sized Sunglasses (60),₹173
30,PIRASO,UV Protection Rectangular Sunglasses (52),₹182
31,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...",₹786
32,Elligator,UV Protection Round Sunglasses (53),₹149
33,PIRASO,UV Protection Wayfarer Sunglasses (56),₹214
34,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹589
35,Dervin,UV Protection Wayfarer Sunglasses (Free Size),₹234
36,NuVew,UV Protection Wayfarer Sunglasses (57),₹99
37,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹539
38,SUNBEE,UV Protection Rectangular Sunglasses (Free Size),₹185
39,AISLIN,"UV Protection Oval, Aviator Sunglasses (60)",₹845

In [167]:
brand=[]

In [168]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [169]:
print(len(brand))

120

In [170]:
brand[0:100] #required 100 brand names

['Elligator',
 'Singco India',
 'Elligator',
 'SRPM',
 'Elligator',
 'PIRASO',
 'Elligator',
 'Dervin',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'Elligator',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'NuVew',
 'Fastrack',
 'Elligator',
 'Resist',
 'Fastrack',
 'SRPM',
 'PIRASO',
 'Silver Kartz',
 'NuVew',
 'PIRASO',
 'PIRASO',
 'AISLIN',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'Dervin',
 'NuVew',
 'Fastrack',
 'SUNBEE',
 'AISLIN',
 'SUNBEE',
 'Elligator',
 'Elligator',
 'AISLIN',
 'Rich Club',
 'PIRASO',
 'Fastrack',
 'Dervin',
 'Fastrack',
 'SUNBEE',
 'GANSTA',
 'NuVew',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'RESIST EYEWEAR',
 'Elligator',
 'SUNBEE',
 'Ray-Ban',
 'AISLIN',
 'NuVew',
 'Fastrack',
 'ROYAL SON',
 'AISLIN',
 'PIRASO',
 'SUNBEE',
 'PIRASO',
 'AISLIN',
 'kingsunglasses',
 'METRONAUT',
 'Sewell',
 'AISLIN',
 'Elligator',
 'NuVew',
 'Silver Kartz',
 'AISLIN',
 'VINCENT CHASE',
 'MGKNYAH',
 'VINCENT CHASE',
 'Eyewearlabs',
 'Elligator',
 'Singco India',
 'SRPM',
 'Elligator',
 'Elligator',
 'PIRASO',
 'Elligator',
 'Dervin',
 'PIRASO',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Elligator',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT']

In [171]:
product_description=[]

In [172]:
start=0
end=3
for page in range(start,end):
    p_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in p_description:
        product_description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [173]:
print(len(product_description))

118

In [174]:
product_description[0:100] #required 100 product description

['UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (56)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized Wrap-around Sunglasses (45)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Sunglass',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Riding Glasses Retro Square, Rectangular...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Oval, Aviator Sunglasses (66)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (56)',
 'UV Protection Sports Sunglasses (65)',
 'UV Protection Round Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Rectangular, Aviato...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'UV Protection Oval Sunglasses (63)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Oval, Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Oval Sunglasses (54)',
 'UV Protection Wayfarer, Rectangular Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (56)']

In [175]:
price=[]

In [176]:
start=0
end=3
for page in range(start,end):
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [177]:
print(len(price))

120

In [178]:
price[0:100] #required 100 prices

['₹245',
 '₹479',
 '₹149',
 '₹149',
 '₹149',
 '₹268',
 '₹149',
 '₹216',
 '₹224',
 '₹274',
 '₹185',
 '₹839',
 '₹179',
 '₹489',
 '₹264',
 '₹695',
 '₹619',
 '₹489',
 '₹549',
 '₹845',
 '₹129',
 '₹149',
 '₹549',
 '₹1,799',
 '₹619',
 '₹169',
 '₹99',
 '₹492',
 '₹539',
 '₹182',
 '₹211',
 '₹2,199',
 '₹214',
 '₹173',
 '₹149',
 '₹656',
 '₹589',
 '₹99',
 '₹239',
 '₹377',
 '₹185',
 '₹179',
 '₹129',
 '₹485',
 '₹226',
 '₹212',
 '₹629',
 '₹400',
 '₹590',
 '₹293',
 '₹311',
 '₹435',
 '₹901',
 '₹629',
 '₹659',
 '₹393',
 '₹149',
 '₹185',
 '₹3,099',
 '₹267',
 '₹129',
 '₹499',
 '₹599',
 '₹1,399',
 '₹272',
 '₹179',
 '₹397',
 '₹234',
 '₹190',
 '₹249',
 '₹280',
 '₹108',
 '₹99',
 '₹99',
 '₹729',
 '₹272',
 '₹189',
 '₹929',
 '₹232',
 '₹265',
 '₹245',
 '₹479',
 '₹149',
 '₹149',
 '₹149',
 '₹268',
 '₹149',
 '₹216',
 '₹224',
 '₹274',
 '₹185',
 '₹695',
 '₹179',
 '₹489',
 '₹264',
 '₹1,799',
 '₹619',
 '₹489',
 '₹549',
 '₹535']

#

## Q5. Scrape 100 reviews data from flipkart.com for iphone11 phone

In [181]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [182]:
driver=webdriver.Chrome(r"C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe")

In [183]:
#Opening the given website on automated chrome browser
driver.get("http://www.flipkart.com/")

In [184]:
#Removing CROSS sign
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [189]:
#Entering product name as required
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('iphone11')

In [190]:
#Clicking SEARCH button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [191]:
product=driver.find_element(By.CLASS_NAME,"_2kHMtA")
product.click()

In [192]:
rating=[]
review_summary=[]
full_review=[]

In [193]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:9]:
    RAT=i.text
    rating.append(RAT)

In [194]:
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags[0:9]:
    RS=i.text
    review_summary.append(RS)

In [195]:
reviewfull_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in reviewfull_tags[0:9]:
    FR=i.text
    full_review.append(FR)

In [196]:
print(len(rating), len(review_summary),len(full_review))

8 8 8

In [197]:
df=pd.DataFrame({'Rating':rating,'Review Summary':review_summary,'Full Review':full_review})
df

,Rating,Review Summary,Full Review
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Just wow!,"Product was good, worked perfect."
2,4,Good quality product,impressively Nice......\nOne of the greatest i...
3,5,Perfect product!,Nice products thanks flkat
4,5,Simply awesome,Really satisfied with the Product I received.....
5,5,Fabulous!,Best in Iphone series in all feature ! Battery...
6,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
7,5,Great product,Awesome product ❤️❤️\nThank you Flipkart

In [212]:
rating=[]

In [213]:
start=0
end=13
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings[0:100]:
        rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [214]:
rating[0:100] #100 ratings

['5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5']

In [215]:
review_summary=[]

In [216]:
start=0
end=12
for page in range(start,end):
    rev_s=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rev_s[0:100]:
        review_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [217]:
review_summary[0:100] #100 review summary

['Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Perfect product!',
 'Just wow!',
 'Good quality product',
 'Perfect product!',
 'Simply awesome',
 'Fabulous!',
 'Fabulous!',
 'Great product']

In [220]:
full_review=[]

In [221]:
start=0
end=12
for page in range(start,end):
    full_rev=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_rev[0:100]:
        full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [222]:
full_review[0:100] #100 full reviews

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart',
 "After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'Product was good, worked perfect.',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Best in Iphone series in all feature ! Battery life is too good!',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Awesome product ❤️❤️\nThank you Flipkart']

#

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field

In [223]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [225]:
driver=webdriver.Chrome(r"C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe")

In [226]:
#Opening the given website on automated chrome browser
driver.get("http://www.flipkart.com/")

In [227]:
#Removing CROSS sign
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [228]:
#Entering product name as required
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sneakers')

In [229]:
#Clicking SEARCH button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [230]:
brand=[]
product_description=[]
price=[]

In [231]:
#Scraping Brand from the page
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    BD=i.text
    brand.append(BD)

In [232]:
#Scraping product description from the page
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    PD=i.text   
    product_description.append(PD)

In [233]:
#Scraping Price from the page
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [234]:
print(len(brand),len(product_description),len(price))

40 40 40

In [235]:
df=pd.DataFrame({'Brand':brand,'Product Description':product_description,'Price':price}) #Dataframe of first page
df

,Brand,Product Description,Price
0,RapidBox,Sneakers For Men,₹571
1,New Balance,500 Sneakers For Men,"₹3,583"
2,SFR,Sneakers For Men,₹299
3,AMICO,Sneakers For Men,₹387
4,aadi,Synthetic| Lightweight| Premiun| Comfort| Summ...,₹399
5,Labbin,Sneakers For Men,₹379
6,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men,₹499
7,RapidBox,Sneakers For Men,₹571
8,Kraasa,Sneakers For Women,₹299
9,BIRDE,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹499
10,BRUTON,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹499
11,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹599
12,aadi,Synthetic| Lightweight| Premiun| Comfort| Summ...,₹349
13,BIRDE,Combo Pack of 2 Sports Sneakers For Men,₹499
14,BIRDE,Premium Sports Shoes For Men Pack Of 2 Sneaker...,₹499
15,aadi,Sneakers For Men,₹349
16,New Balance,237 Sneakers For Men,"₹5,066"
17,SOLETHREADS,Sneakers For Men,"₹1,374"
18,BIRDE,Premium Casual Shoes for Women Sneakers For Women,₹299
19,Magnolia,Modern Trendy Sneakers boot Sneakers Sneakers ...,₹399
20,New Balance,373 Sneakers For Men,"₹4,903"
21,PUMA,FUTURE PLAY FG/AG Sneakers For Men,"₹5,399"
22,World Wear Footwear,Latest Exclusive Affordable Collection of Tren...,₹279
23,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹399
24,Magnolia,Sneakers For Men,₹449
25,asian,"Thunder-01 White Canvas, Sneakers For Men",₹799
26,Kraasa,Road Sneakers For Women,₹299
27,aadi,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹498
28,EZDEZARIO,Sneakers For Men,₹429
29,BIRDE,Casual Shoes Sneakers For Women,₹199
30,SOLETHREADS,Sneakers For Men,"₹1,429"
31,PUMA,Crafty Wns Sneakers For Women,"₹2,199"
32,K- FOOTLANCE,Casual Sneakers White Outdoor Shoes For Boys A...,₹495
33,Xtoon,Modern Trendy Sneakers boot Sneakers For Men,₹349
34,AMICO,Sneakers For Men,₹452
35,BRUTON,Modern Trendy Shoes Sneakers For Men,₹279
36,New Balance,500 Sneakers For Men,"₹3,556"
37,bacca bucci,BOOMBOX Black Sneakers Casual Shoes with Memor...,"₹1,499"
38,BIRDE,"Stylish Comfortable Lightweight, Breathable Sh...",₹379
39,SFR,Sneakers For Men,₹279

In [236]:
brand=[]

In [237]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [238]:
print(len(brand))

120

In [239]:
brand[0:100]   #required 100 brand names

['RapidBox',
 'New Balance',
 'SFR',
 'AMICO',
 'aadi',
 'Labbin',
 'BIRDE',
 'RapidBox',
 'Kraasa',
 'BIRDE',
 'BRUTON',
 'BRUTON',
 'aadi',
 'BIRDE',
 'BIRDE',
 'aadi',
 'New Balance',
 'SOLETHREADS',
 'BIRDE',
 'Magnolia',
 'New Balance',
 'PUMA',
 'World Wear Footwear',
 'aadi',
 'Magnolia',
 'asian',
 'Kraasa',
 'aadi',
 'EZDEZARIO',
 'BIRDE',
 'SOLETHREADS',
 'PUMA',
 'K- FOOTLANCE',
 'Xtoon',
 'AMICO',
 'BRUTON',
 'New Balance',
 'bacca bucci',
 'BIRDE',
 'SFR',
 'Kraasa',
 'New Balance',
 'WHITE WALKERS',
 'asian',
 'BIRDE',
 'BIRDE',
 'RapidBox',
 'New Balance',
 'BERSACHE',
 'WHITE WALKERS',
 'asian',
 'SOLETHREADS',
 'kardam&sons',
 'Labbin',
 'Shozie',
 'BIRDE',
 'PUMA',
 'asian',
 'BIRDE',
 'Walfos',
 'asian',
 'PUMA',
 'BIRDE',
 'BIRDE',
 'Kraasa',
 'BIRDE',
 'SOLETHREADS',
 'PUMA',
 'BIRDE',
 'RED TAPE',
 'PUMA',
 'bacca bucci',
 'Labbin',
 'BRUTON',
 'Layasa',
 'aadi',
 'PUMA',
 'PUMA',
 'BRUTON',
 'BIRDE',
 'RapidBox',
 'New Balance',
 'SFR',
 'AMICO',
 'aadi',
 'Labbin',
 'BIRDE',
 'RapidBox',
 'Kraasa',
 'BIRDE',
 'BRUTON',
 'BRUTON',
 'aadi',
 'BIRDE',
 'BIRDE',
 'aadi',
 'RapidBox',
 'New Balance',
 'BIRDE',
 'Magnolia']

In [240]:
product_description=[]

In [241]:
start=0
end=3
for page in range(start,end):
    p_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in p_description:
        product_description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [242]:
print(len(product_description))

120

In [243]:
product_description[0:100]  #required 100 product description

['Sneakers For Men',
 'Classic Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'WATERPROOF-05cFULLWHITE Sneakers For Men',
 'Combo Pack of 2 Sports Sneakers For Men',
 'Combo Pack of 2 Casual Shoe Sneakers For Men',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Bersache Lightweight Color Changing Casual,Sneaker Shoe...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 '237 Sneakers For Men',
 'Sneakers For Men',
 'kardam&sons luxury fashionable Stylish Light Weight Sne...',
 'Casual Sneakers Black Outdoor Shoes For Boys And Men Sn...',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'Stylish Comfortable Lightweight, Breathable Women Shoes...',
 'FUTURE PLAY FG/AG Sneakers For Men',
 'Road Sneakers For Women',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Sneakers For Men',
 '373 Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Trendy Casual Shoe For Men Pack Of 2 Sneakers For Men',
 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Sneakers For Men',
 'Crafty Wns Sneakers For Women',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Sneakers For Men',
 'BOOMBOX Black Sneakers Casual Shoes with Memory Cushion...',
 '5740 Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Sneakers For Men',
 '500 Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Sneakers For Men',
 '500 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Synthetic| Lightweight| Premiun| Comfort| Summer Tendy|...',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 '500 Sneakers For Men',
 'Sneakers For Men',
 'Synthetic| Lightweight| Premiun| Comfort| Summer Tendy|...',
 'Combo Pack of 2 Sports Sneakers For Men',
 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men',
 'Sneakers For Men',
 'RBR Neo Cat Sneakers For Men',
 '22 FH Rubber Sneakers For Men',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Modern Trendy Sneakers boot Sneakers Sneakers For Men',
 'SAINT Low top Classic Sneakers/Casual Shoes for Men Sne...',
 'fuzor B Sneakers For Men',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...',
 'Sneakers For Men',
 'Thunder-01 White Canvas, Sneakers For Men',
 'Sneakers For Men',
 'Wild Rider Rollin Sneakers For Women',
 'Sneakers For Men',
 'Casual Shoes Sneakers For Women',
 'Sneakers For Men',
 'ST Runner v2 Full L Sneakers For Men',
 'Casual Sneakers White Outdoor Shoes For Boys And Men Sn...',
 'Modern Trendy Sneakers boot Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Shoes Sneakers For Men',
 'Sneakers For Men',
 '22 FH Rubber Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Shoes For M...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Classic Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'WATERPROOF-05cFULLWHITE Sneakers For Men',
 'Combo Pack of 2 Sports Sneakers For Men',
 'Combo Pack of 2 Casual Shoe Sneakers For Men',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'kardam&sons luxury fashionable Stylish Light Weight Sne...',
 '237 Sneakers For Men',
 'Sneakers For Men',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Women Shoes...',
 'FUTURE PLAY FG/AG Sneakers For Men',
 'Road Sneakers For Women',
 'Casual Sneakers Black Outdoor Shoes For Boys And Men Sn...',
 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men']

In [244]:
price=[]

In [245]:
start=0
end=3
for page in range(start,end):
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [246]:
print(len(price))

120

In [247]:
price[0:100]  #required 100 prices

['₹571',
 '₹3,583',
 '₹299',
 '₹387',
 '₹399',
 '₹379',
 '₹499',
 '₹571',
 '₹499',
 '₹299',
 '₹799',
 '₹3,149',
 '₹349',
 '₹499',
 '₹499',
 '₹349',
 '₹1,329',
 '₹5,849',
 '₹299',
 '₹399',
 '₹1,499',
 '₹1,099',
 '₹279',
 '₹449',
 '₹399',
 '₹799',
 '₹3,644',
 '₹1,624',
 '₹429',
 '₹495',
 '₹2,549',
 '₹2,399',
 '₹199',
 '₹349',
 '₹452',
 '₹279',
 '₹1,624',
 '₹5,849',
 '₹379',
 '₹279',
 '₹571',
 '₹599',
 '₹449',
 '₹629',
 '₹499',
 '₹499',
 '₹499',
 '₹599',
 '₹449',
 '₹584',
 '₹5,066',
 '₹1,374',
 '₹549',
 '₹299',
 '₹303',
 '₹299',
 '₹5,399',
 '₹299',
 '₹494',
 '₹649',
 '₹4,903',
 '₹498',
 '₹449',
 '₹498',
 '₹299',
 '₹499',
 '₹1,429',
 '₹2,199',
 '₹429',
 '₹379',
 '₹1,499',
 '₹4,115',
 '₹1,231',
 '₹499',
 '₹499',
 '₹299',
 '₹571',
 '₹3,443',
 '₹429',
 '₹429',
 '₹571',
 '₹3,583',
 '₹299',
 '₹387',
 '₹399',
 '₹379',
 '₹499',
 '₹571',
 '₹499',
 '₹299',
 '₹799',
 '₹3,149',
 '₹349',
 '₹499',
 '₹499',
 '₹349',
 '₹1,329',
 '₹5,849',
 '₹299',
 '₹399']

#

##  Q7. Scrape first 10 laptops data from amazon.in

In [248]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [249]:
driver=webdriver.Chrome(r"C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe")

In [250]:
#Opening the given website on automated chrome browser
driver.get("https://www.amazon.in/")

In [251]:
#Entering product name as required
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

In [252]:
#Clicking SEARCH button
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span")
search.click()

In [253]:
#CPU filter
CPU=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[12]/span/a/span")
CPU.click()

In [254]:
#Required Attributes
title=[]
rating=[]
price=[]

In [255]:
#scraping required titles
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    TT=i.text
    title.append(TT)

In [256]:
#scraping required price
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    Pri=i.text
    price.append(Pri)

In [257]:
#scraping required ratings
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tags[0:10]:
    Rat=i.text
    rating.append(Rat)

In [258]:
print(len(rating), len(title),len(price))

10 10 10

In [259]:
df=pd.DataFrame({'Rating':rating,'Title':title,'Price':price})   #first 10 laptops data
df

  Rating                                              Title   Price
0    5.0  (Renewed) HP Zbook Mini Server Laptop Intel E3...  58,990
1         (Renewed) HP Zbook Mini Server Laptop Intel E3...  74,990
2         (Renewed) HP Zbook Mini Server Laptop Intel E3...  52,990
3         (Renewed) HP Zbook Mini Server Laptop Intel E3...  66,990
4         (Renewed) HP Zbook Mini Server Laptop Intel E3...  56,990
5         (Renewed) HP Zbook Mini Server Laptop Intel E3...  47,990
6         (Renewed) HP Zbook Mini Server Laptop Intel E3...  48,990
7         (Renewed) HP Zbook Mini Server Laptop Intel E3...  57,990
8         (Renewed) HP Zbook Mini Server Laptop Intel E3...  51,990
9         (Renewed) HP Zbook Mini Server Laptop Intel E3...  46,990

#

## Q8. Python program to scrape data for Top 1000 Quotes of All Time

In [260]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [261]:
driver=webdriver.Chrome(r"C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe")

In [262]:
#Opening the given website on automated chrome browser
driver.get("https://www.azquotes.com/")

In [263]:
#Clicking TOP QUOTES button
Top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
Top_quotes.click()

In [264]:
#Required Attributes
quote=[]
author=[]
q_types=[]

In [265]:
#scraping required qoute
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags:
    QT=i.text
    quote.append(QT)

In [266]:
#scraping required author
author_names=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_names:
    AN=i.text
    author.append(AN)

In [267]:
#scraping required types of quote
quote_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_type:
    QT=i.text
    q_types.append(QT)

In [268]:
print(len(quote),len(author),len(q_types))

100 100 100

In [269]:
df=pd.DataFrame({'QUOTE':quote,'Author':author,'Types of Quote':q_types})  #First 10 data 
df

,QUOTE,Author,Types of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

#

## Q9: Python program to display list of respected former Prime Ministers of India

In [270]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [271]:
driver=webdriver.Chrome(r"C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe")

In [272]:
#Opening the given website on automated chrome browser
driver.get('https://www.jagranjosh.com/')

In [273]:
#Clicking on GK option
gk=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")
gk.click()

In [275]:
#Clicking list of all prime minister of India
pm_list=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
pm_list.click()

In [276]:
#Required attributes
name=[]
born_dead=[]
term=[]
remark=[]

In [277]:
name_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in name_tag:
    NT=i.text
    name.append(NT)

In [278]:
borde_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in borde_tag:
    bd=i.text
    born_dead.append(bd)

In [279]:
term_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]')
for i in term_tag:
    tt=i.text
    term.append(tt)

In [280]:
remark_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remark_tag:
    rt=i.text
    remark.append(rt)

In [281]:
print(len(name),len(born_dead),len(term),len(remark))

18 18 18 18

In [282]:
df=pd.DataFrame({'Name':name,'Born-Dead':born_dead,'Term of Office':term,'Remark':remark})
df

,Name,Born-Dead,Term of Office,Remark
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

#

## Q10. Python program to display list of 50 Most expensive cars in the world

In [283]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [284]:
driver=webdriver.Chrome(r"C:\Users\Future\Desktop\Fliprobo Internship\chromedriver.exe")

In [285]:
#Opening the given website on automated chrome browser
driver.get('https://www.motor1.com/')

In [286]:
#Clicking on bar option
bar=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div[1]/div")
bar.click()

In [287]:
#clicking features dropdown button
features=driver.find_element(By.XPATH,"/html/body/div[3]/div[1]/div[3]/ul/li[5]/button")
features.click()

In [288]:
#Clicking on List option
List=driver.find_element(By.XPATH,"/html/body/div[3]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
List.click()

In [289]:
#clicking the exact link to scrape data
exact=driver.find_element(By.XPATH,"/html/body/div[2]/div[8]/div[1]/div[1]/div/div/div[8]/div/div[1]/h3/a")
exact.click()

In [290]:
car_name=[]
price=[]

In [291]:
#scraping required car
car_tag=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tag:
    CT=i.text
    car_name.append(CT)

In [292]:
#scraping required price
price_tag=driver.find_elements(By.TAG_NAME,"strong")
for i in price_tag:
    PT=i.text
    price.append(PT)

In [293]:
print(len(car_name),len(price))

51 51

In [294]:
df=pd.DataFrame({'Car Name':car_name,'Price':price})   #50 most expensive cars in the world
df.head(50)

                           Car Name                 Price
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.7 Million
10                  Bentley Bacalar   Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $1.9 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara   Price: $2.0 Million
15                      Lotus Evija  Price: $2.0 Million*
16              Aston Martin Vulcan   Price: $2.1 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.3 Million
20                    Pagani Utopia   Price: $2.4 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.5 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.6 Million
26              Aston Martin Victor   Price: $2.7 Million
27      Hennessey Venom F5 Roadster   Price: $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie   Price: $3.0 Million
30        W Motors Lykan Hypersport   Price: $3.2 Million
31                    McLaren Solus   Price: $3.4 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million

In [295]:
driver.close()

#